*
{
box-sizing: border-box;
margin: 0;
}
img
{
max-width: 100%;
}
header{
    background-color: #EF7846;
    position: fixed;
    width: 100%;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 40px;
}
header li{
    display: inline;
    padding: 10px;
}
header ul{
    display: block;
}
header a{
    text-decoration: none;
    color: #EAEADE;
    font-family: century-gothic, sans-serif; 
    font-weight: bold;
}
.headerLogo{
    position: absolute;
    top: 10px;
    height: 60px;
    width: auto;
}
header img{
    width: 180px;
}
.landingPage{
    background-image: url(../img/Headerbaggrund2-01.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom 30%;
    border-radius: 0 0 50px 50px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landingPage div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 220px 0 0;
    text-align: center;
}

#logo{
    max-height: 581.41px;
    max-width: 445.287px;
}

h1{
    font-family: century-gothic, sans-serif; 
    font-weight: bold;
    text-transform: uppercase;
    color: #EAEADE;
    font-size: 50px;
}

.landingPage div p{
    margin-top: 20px;
    font-family: century-gothic, sans-serif; 
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    color: #EAEADE;
    font-size: 16px;
}

div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.gifDiv img{
    width: 560px;
}

h2{
    font-family: century-gothic, sans-serif; 
    font-weight: bold;
    text-transform: uppercase;
    color: #E83879;
    font-size: 30px;
    text-align: center;
}

.buttonsDiv{
    height: 340px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    margin: 0 20px;
    align-content: center;
    justify-content: space-around;
    justify-items: center;
}

#button1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#button2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#button3{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#button4{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
button{
    width: 340px;
    height: 100%;
    border-radius: 43px;
    border: none;
    padding: 0;
    background-color: #EAEADE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* STØRRELSERNE ER FORKERTE */
.buttonsDiv img{
    width: 304px;
}
